@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&family=Yellowtail&display=swap');

body { 
    margin: 0;
    padding: 0;
    background-color: #181818;
    display: flex;
}

.home {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: column;
    justify-content: center;
}

.in-flex {
    flex: 1;
    min-width: 300px;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    overflow-x: hidden;
}

.in-flex:first-child {
    flex: 2;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
}

.in-flex div {
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
}


/* MENU DESPLEGABLE*/

a {
    text-decoration: none;
    color: #fff;

    line-height: 35px;

}
#inicio {
    font-family: "yellowtail";
    font-size: 35px;
    text-decoration:underline;
    color: #1b1b1b;

}

.toggle_btn {
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: crimson;
    font-size: 30px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    line-height: 69px;
    cursor: pointer;
    transition: .3s;
    left: 50px;
    top: 50px;
    
}
li {
    list-style: none;
    text-indent: 0;
}
i {
    position: relative;
    left: 20px;
    color: #fff;
}
.toggle_btn:hover{
    box-shadow: 0 0 35px #fff;
    }

.dropdown_menu { 
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-family: "roboto";
    font-weight: bold;
    background-color: crimson;
    width: 190px;
    height: 0px;
    left: 130px;
    top: 80px;
    border-radius: 10px;
    display: none;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .dropdown_menu.open {
        height: 590px;
        display: block;
    }
    


#reserva:hover {
    box-shadow: 0 0 35px #fff;
    transform: scale(1.1);
}
#reserva {
    position: absolute;
    right: 1em;
    top: 30px;
    background-color: crimson;
    text-align: center center;
    padding: 40px;
    padding-right: 0;
    border-radius: 5pc;
    font-family: "roboto";
    font-weight: bold;
    font-size: 30px;
    transition: .2s;
    text-indent: 0;
    
}



a:hover {
    color: #1b1b1b;
    font-size: larger;

}
#manicu, #cej, #pesta {
    font-family: "yellowtail";
    font-size: 29px;
    text-decoration:underline;
    color: #1b1b1b;
}

#manicu:hover, #cej:hover, #pesta:hover{
    font-size: larger;
}

/*FIN MENU DESPLEGABLE*/



h1 {
    font-family: "Roboto";
    color: #1b1b1b;
    font-size: 6em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 0%;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.wrapper {
    display: flex;
    background:#ffe3ce;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
}
#Cejas {
    font-size: 6em;
}
h4 {
    font-family: "Roboto";
    color: #fff;
    font-size: 2.2em;
    text-align: left;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 4px;
    width: 90%;
    color: #fff;
  }
a img{
    display:flex;
    margin-top: 2.4em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    flex-direction: column;
}
a img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

a {
   overflow-y: hidden
   }
#insta {
    padding-bottom: 2.2em;
}
#wpp {
    padding-bottom: 2.2em;
}

#Logo {
    border-radius: 9em;
    display:flex;
    flex-direction: column;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

h2 {
    font-family: "yellowtail";
    text-align: center;
    font-size: 3.5em;
    color: #ffe3ce;
    padding-top: 5em;
    padding-bottom: 5em;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
}

h3 {
    font-family: "Alkatra";
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #F99099;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: auto;
    height: auto;
}

#semipermanentes {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.6)), url("Semi2.png");
    background-attachment: scroll;
    background-size:cover;
    background-position:center center;
    min-height: 90em;
    padding: 0;
    display: flex;
    width: 100%;
    height: auto;
    
    
    

   
  /*width: 100%;
  height: 90em;
  background-image: url("Semi2.png");
  background-size: cover; /* or "contain" depending on what you want */

 /* background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin-left: auto;
    margin-right: auto;
  padding:0; */
   
}


#kapping {
    background: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.6)), url("Kapping.png");
    background-attachment: scroll;
    background-size: cover;
    background-position:center center;
    min-height: 90em;
    padding: 0; 
    margin: 0;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#nailart {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.6)), url("NailArt.png");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    min-height: 90em;
    padding: 0;  
    margin: 0;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#esculpidas {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.6)), url("Esculpidas.png");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;  
    min-height: 90em;
    padding: 0; 
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#softgel {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.6)), url("SoftGel.png");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    min-height: 90em;
    padding: 0; 
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
#tipsesc {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.4)), url("Tips.png");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    min-height: 90em;
    padding: 0; 
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

ul{
    font-family: "Alkatra";
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    width: 80%;
}


#Lista1 {
    margin: 0;
    padding: 36px 0 36px 84px;
    list-style: none;
    background-image: url("Lista1.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2.9em;
    color: #fa93d3;
    background-position-x: -0.02em;
}

#Lista2 {
    margin: 0;
    padding: 36px 0 36px 84px;
    list-style: none;
    background-image: url("Lista2.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2.9em;
    color: black;
    background-position-x: -0.11em;
}
#Lista3 {
    margin: 0;
    padding: 36px 0 36px 84px;
    list-style: none;
    background-image: url("Lista3.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 3em;
    color: #fa93d3; 
    background-position-x: -0.11em;
}
#Lista4 {
    margin: 0;
    padding: 36px 0 36px 84px;
    list-style: none;
    background-image: url("Lista4.webp");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 3em; 
    color: black;
    background-position-x: -0.11em;
}
#Lista5 {
    margin: 0;
    padding: 36px 0px 36px 84px;
    list-style: none;
    background-image: url("Lista5.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2.3em;
    background-position-x: -0.4em;
    color: #fa93d3;
}


#perfilado {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url("Perfilado.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    min-height: 90em;
    padding: 0; 
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
#laminado {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url("Laminado.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    min-height: 90em;
    padding: 0; 
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}


#extension {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url("Extension.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    min-height: 90em;
    padding: 0; 
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
#lifting {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url("Lifting.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    min-height: 90em;
    padding: 0; 
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
#liftingK {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url("LiftingK.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    min-height: 90em;
    padding: 0; 
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
#sobremi{
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.6)), url("Certificacion.jpeg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
   
    margin: 0;
    min-height: 90em;
    padding: 0;  
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.content {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    position:abs;
    display:flex;
    /*font-weight: bold;*/
    color: white;
    font-family: "Alkatra";
    color: #fff;
    font-size: 1.9em;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}
#final {
    line-height: 2.1em;
}
#Cert1 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#instaC, #instaC2, #wppB {
    font-family: "yellowtail";
    text-align: center;
    font-size: 1em;
    color: #ffe3ce;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
}
#instaC:hover, #instaC2:hover, #wppB:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@media(min-width: 952px){
    #semipermanentes, #kapping, #esculpidas, #nailart, #softgel, #tipsesc, #perfilado, #laminado, #extension, #lifting, #liftingK, #sobremi { 
        background-attachment: fixed;
    }
    a img {
        padding-bottom: 3em;
        margin-top: 0%;
    }
    #Logo {
        width: 20%;
    }
}
